.pending-questions {
    font-size: 16px;
    line-height: 20px;
    transition: all .4s;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
    font-family: Helvetica;

    position: fixed;
    right: 20px;
    bottom: -81px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    width: 305px;
}
.pending-questions__body {
    position: relative;
    z-index: 3;
    background-color: #fffceb;
    padding: 13px 17px;
}
.pending-questions__text {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.pending-questions__text:after {
    content: '';
    background: url('./arrow.svg') no-repeat center;
    width: 12px;
    height: 7px;
    display: inline-block;
    margin-left: 8px;
}
.pending-questions__button {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    clear: both;
    text-align: center;
    margin: 15px 0px;
    padding: 13px 21px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 3px;
    background-color: #ef7026;
    appearance: none;
    visibility: hidden;
    text-decoration: none;
}
.pending-questions__button:hover {
    text-decoration: none;
}
.pending-questions__toggler {

    display: none;
}
.pending-questions__toggler-icon {
    position: relative;
}
.pending-questions__toggler:before {
    content: '';
    background: url('./arrow.svg') no-repeat center;
    width: 12px;
    height: 7px;
    display: block;
    position: relative;
    transform: rotate(180deg);
}
.pending-questions_expanded {
    bottom: 0;
    cursor: default;;
}
.pending-questions__body {
    position: relative;
    z-index: 3;
}
.pending-questions_expanded .pending-questions__button {
    visibility: visible;
}
.pending-questions_expanded .pending-questions__text:after {
    content: none;
}
.pending-questions_expanded .pending-questions__toggler {
    z-index: 2;
    position: absolute;
    right: 15px;
    width: 35px;
    height: 20px;
    top: -20px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fffceb;
}
.pending-questions_expanded .pending-questions__toggler:before {

}
