.pending-questions {
    font-size: 16px;
    line-height: 20px;
    opacity: 0;
    transition: all .5s;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    font-family: Roboto, Helvetica, Tahoma, sans-serif;
    position: relative;
}
.pending-questions__body {
    background: #FFF;
    padding: 20px;
}
.pending-questions_animation-in {
    opacity: 1;
}
.pending-questions__button {
    background: #349cb8;
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 400;
    clear: both;
    text-align: center;
    border-radius: 5px;
    margin: 15px 0px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #ffffff;
    appearance: none;
}
.pending-questions__toggler {
    position: absolute;
    right: 15px;
    width: 35px;
    height: 20px;
    background: #FFF;
    top: -20px;
    box-shadow: 1px -1px 2px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pending-questions__toggler-icon {
    position: relative;
}
.pending-questions__toggler:before {
    content: '';
    background: url('./arrow.png') no-repeat;
    width: 20px;
    height: 18px;
    display: block;
    background-size: 100%;
    background-position: top left;
    position: relative;
}
.pending-questions_collapsed .pending-questions__toggler:before {
    transform: rotate(180deg);
    top: 3px;
}
.pending-questions_collapsed .pending-questions__body {
    display: none;
}
